section {
  background: var(--color-primary-base);

  .footer {
    margin: 0 auto;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-baseline-white);

    &__social-media {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      a {
        color: var(--color-baseline-white);
        padding: 0px 5px;
        margin: 0px 2px;
      }

      a:hover {
        color: var(--color-primary-dark-40);
      }
    }

    &__contact {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      width: 100%;

      &__type {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 0 10px;

        a {
          font-size: var(--font-size-xxxs);
          padding: 0px;
          color: var(--color-baseline-white);
          display: flex;

          svg-icon {
            margin-right: 10px;
          }
        }

        a:hover {
          color: var(--color-primary-dark-40);
        }
      }

      &__type:first-child {
        justify-content: flex-end;
      }
    }
  }
}
