<section>
  <div class="footer">
    <div class="footer__social-media">
      <a href="https://www.facebook.com/contestadofm/" target="_blank">
        <svg-icon src="assets/icons/facebook-square.svg"> </svg-icon>
      </a>

      <a href="https://www.instagram.com/radiocontestadofm/" target="_blank">
        <svg-icon src="assets/icons/instagram-square.svg"> </svg-icon>
      </a>

      <a href="https://www.youtube.com/channel/UCdxalHKoQMAjOy2-wzVTIqw/featured" target="_blank">
        <svg-icon src="assets/icons/youtube-square.svg"> </svg-icon>
      </a>
    </div>

    <div class="footer__contact">
      <div class="footer__contact__type">
        <a href="+55 49 3432-0821">
          <svg-icon src="assets/icons/phone.svg"></svg-icon>
          +55 49 3432-0821
        </a>
      </div>

      <div class="footer__contact__type">
        <a href="mailto:radio@contestadofm.com.br">
          <svg-icon src="assets/icons/email.svg"></svg-icon>
          radio@contestadofm.com.br
        </a>
      </div>
    </div>
  </div>
</section>
