.music-bars {
  height: 30px;
  left: 80px;
  margin: -15px 0 0 0;
  display: flex;
  align-items: flex-end;

  &__bar {
    background: var(--color-baseline-white);
    bottom: 1px;
    height: 3px;
    width: 3px;
    margin: 0.3px;
    animation: sound 0ms -800ms linear infinite alternate;
  }

  &__bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
  &__bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
  &__bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
  &__bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
  &__bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
  &__bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
  &__bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
  &__bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
  &__bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
  &__bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
  &__bar:nth-child(11)  { left: 41px; animation-duration: 474ms; }
  &__bar:nth-child(12)  { left: 45px; animation-duration: 433ms; }
  &__bar:nth-child(13)  { left: 49px; animation-duration: 407ms; }
  &__bar:nth-child(14)  { left: 53px; animation-duration: 458ms; }
  &__bar:nth-child(15)  { left: 57px; animation-duration: 400ms; }
  &__bar:nth-child(16)  { left: 61px; animation-duration: 427ms; }
  &__bar:nth-child(17)  { left: 65px; animation-duration: 441ms; }
  &__bar:nth-child(18)  { left: 69px; animation-duration: 419ms; }
  &__bar:nth-child(19)  { left: 73px; animation-duration: 487ms; }
  &__bar:nth-child(20) { left: 77px; animation-duration: 442ms; }
}

@keyframes sound {
  0% {
      opacity: .35;
      height: 3px;
  }
  100% {
      opacity: 1;
      height: 28px;
  }
}
