<div class="music-bars">
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
  <div class="music-bars__bar"></div>
</div>
