header {
  background: var(--color-primary-base);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;

  a {
    color: var(--color-baseline-white);
  }

  &__nav {
    display: flex;
    align-items: center;


    &__logo {
      margin-right: 20px;
      a {
        font-weight: bold;
        margin: 0 10px;

        img {
          width: 50px;
        }
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-left: 10px;

        a {
          font-size: var(--font-size-xxs);
          display: block;
          padding: 10px;
        }

        a:hover {
          color: var(--color-primary-dark-40);
        }
      }
    }
  }
}
