<header>
  <div class="navbar">
    <div class="navbar__nav">
      <div class="navbar__nav__logo">
        <a href="#"><img src="assets/images/logo.svg"></a>
      </div>

      <app-music-player></app-music-player>
    </div>

    <nav class="navbar__menu">
      <ul>
        <li><a href="#">Home</a> </li>
        <li><a href="#noticias">Notícias</a> </li>
        <li><a href="#sobre">Sobre</a> </li>
        <li><a href="#contato">Contato</a> </li>
      </ul>
    </nav>
  </div>
</header>
