:root {
  --color-primary-dark-40:  #283f1b;
  --color-primary-base:     #5c973d;

  /* GRAY COLORS */
  --color-gray-dark-50:  #141619;
  --color-gray-dark-40:  #212529;
  --color-gray-dark-30:  #343A40;
  --color-gray-dark-20:  #495057;
  --color-gray-dark-10:  #868E96;
  --color-gray-base:     #ADB5BD;
  --color-gray-light-10: #CED4DA;
  --color-gray-light-20: #DEE2E6;
  --color-gray-light-30: #E9ECEF;
  --color-gray-light-40: #F1F3F5;
  --color-gray-light-50: #F8F9FA;

  /* BASELINE COLORS */
  --color-baseline-black: #000000;
  --color-baseline-white: #FFFFFF;



  /* ---------------- exemplos ---------------- */
  --j-color-primary-dark-40:  #512F8B;
  --j-color-primary-dark-30:  #5F37A2;
  --j-color-primary-dark-20:  #6C3EBA;
  --j-color-primary-dark-10:  #7A46D1;
  --j-color-primary-base:     #874EE8;
  --j-color-primary-light-10: #A276ED;
  --j-color-primary-light-20: #BD9EF2;
  --j-color-primary-light-30: #D8C6F8;
  --j-color-primary-light-40: #F3EDFD;
  --j-color-primary-gradient: linear-gradient(90deg, #512F8B 0%, #6C3EBA 22.22%, #874EE8 49.65%, #BD9EF2 77.78%, #F3EDFD 100%);

  --j-color-secondary-dark-40:  #088289;
  --j-color-secondary-dark-30:  #0A98A0;
  --j-color-secondary-dark-20:  #0BAEB6;
  --j-color-secondary-dark-10:  #0DC3CD;
  --j-color-secondary-base:     #0ED9E4;
  --j-color-secondary-light-10: #44E2EA;
  --j-color-secondary-light-20: #7BEAF0;
  --j-color-secondary-light-30: #B1F3F6;
  --j-color-secondary-light-40: #E7FBFC;
  --j-color-secondary-gradient: linear-gradient(90deg, #088289 0%, #00C8DB 22.22%, #0ED9E4 49.83%, #7BEAF0 77.78%, #E7FBFC 100%);

  /* ALERT COLORS */
  --j-color-success-dark-40:  #188564;
  --j-color-success-dark-30:  #1C9B75;
  --j-color-success-dark-20:  #20B186;
  --j-color-success-dark-10:  #24C796;
  --j-color-success-base:     #28DDA7;
  --j-color-success-light-10: #58E5BB;
  --j-color-success-light-20: #89ECCF;
  --j-color-success-light-30: #B9F4E2;
  --j-color-success-light-40: #EAFCF6;
  --j-color-success-gradient: linear-gradient(90deg, #188564 0%, #20B186 22.22%, #28DDA7 50.15%, #89ECCF 77.78%, #EAFCF6 100%);

  --j-color-error-dark-40:  #973538;
  --j-color-error-dark-30:  #B03E42;
  --j-color-error-dark-20:  #CA464B;
  --j-color-error-dark-10:  #E34F55;
  --j-color-error-base:     #FC585E;
  --j-color-error-light-10: #FD797E;
  --j-color-error-light-20: #FDA3A7;
  --j-color-error-light-30: #FEC9CB;
  --j-color-error-light-40: #FFEEEF;
  --j-color-error-gradient: linear-gradient(90deg, #973538 0%, #CA464B 22.22%, #FC585E 50.15%, #FDA3A7 77.78%, #FFEEEF 100%);

  /* GRAY COLORS */
  --j-color-gray-dark-50:  #141619;
  --j-color-gray-dark-40:  #212529;
  --j-color-gray-dark-30:  #343A40;
  --j-color-gray-dark-20:  #495057;
  --j-color-gray-dark-10:  #868E96;
  --j-color-gray-base:     #ADB5BD;
  --j-color-gray-light-10: #CED4DA;
  --j-color-gray-light-20: #DEE2E6;
  --j-color-gray-light-30: #E9ECEF;
  --j-color-gray-light-40: #F1F3F5;
  --j-color-gray-light-50: #F8F9FA;

  /* BASELINE COLORS */
  --j-color-baseline-black: #000000;
  --j-color-baseline-white: #FFFFFF;
  --j-color-baseline-gradient-default: linear-gradient(360deg, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.24) 100%);
  --j-color-baseline-gradient-inverse: linear-gradient(0.02deg, rgba(255, 255, 255, 0.24) 0.02%, rgba(0, 0, 0, 0.16) 99.98%);

  /* COMPLEMENTARY COLORS */
  --j-color-bond-dark-40:  #3C6A99;
  --j-color-bond-dark-30:  #467CB3;
  --j-color-bond-dark-20:  #508ECC;
  --j-color-bond-dark-10:  #5A9FE6;
  --j-color-bond-base:     #64B1FF;
  --j-color-bond-light-10: #87C3FF;
  --j-color-bond-light-20: #AAD4FF;
  --j-color-bond-light-30: #CDE6FF;
  --j-color-bond-light-40: #F0F7FF;
  --j-color-bond-gradient: linear-gradient(90deg, #3C6A99 0%, #508ECC 22.22%, #64B1FF 49.65%, #AAD4FF 77.78%, #F0F7FF 100%);

  --j-color-dean-dark-40:  #995335;
  --j-color-dean-dark-30:  #B3613E;
  --j-color-dean-dark-20:  #CC6E46;
  --j-color-dean-dark-10:  #E67C4F;
  --j-color-dean-base:     #FF8A58;
  --j-color-dean-light-10: #FFA47E;
  --j-color-dean-light-20: #FFBFA3;
  --j-color-dean-light-30: #FFD9C9;
  --j-color-dean-light-40: #FFF3EE;
  --j-color-dean-gradient: linear-gradient(90deg, #995335 0%, #CC6E46 22.22%, #FF8A58 49.83%, #FFBFA3 77.78%, #FFF3EE 100%);

  --j-color-etta-dark-40:  #952C48;
  --j-color-etta-dark-30:  #AE3454;
  --j-color-etta-dark-20:  #C73B60;
  --j-color-etta-dark-10:  #E0436C;
  --j-color-etta-base:     #F94A78;
  --j-color-etta-light-10: #FF819E;
  --j-color-etta-light-20: #FC9BBE;
  --j-color-etta-light-30: #FDC4D3;
  --j-color-etta-light-40: #FEEDF2;
  --j-color-etta-gradient: linear-gradient(90deg, #952C48 1.65%, #C73B60 22.22%, #F94A78 49.65%, #FC9BB5 77.78%, #FEEDF2 100%);

  --j-color-franco-dark-40:  #947C29;
  --j-color-franco-dark-30:  #AC9130;
  --j-color-franco-dark-20:  #C5A637;
  --j-color-franco-dark-10:  #DDBA3E;
  --j-color-franco-base:     #F6CF45;
  --j-color-franco-light-10: #F8DA6F;
  --j-color-franco-light-20: #FAE599;
  --j-color-franco-light-30: #FCEFC3;
  --j-color-franco-light-40: #FEFAEC;
  --j-color-franco-gradient: linear-gradient(90deg, #947C29 0%, #C5A637 22.22%, #F6CF45 49.83%, #FAE599 77.78%, #FEFAEC 100%);

  --j-color-hunt-dark-40:  #1B102E;
  --j-color-hunt-dark-30:  #362D47;
  --j-color-hunt-dark-20:  #524960;
  --j-color-hunt-dark-10:  #6D6679;
  --j-color-hunt-base:     #888392;
  --j-color-hunt-light-10: #A49FAB;
  --j-color-hunt-light-20: #BFBCC5;
  --j-color-hunt-light-30: #DBD9DE;
  --j-color-hunt-light-40: #F6F5F7;
  --j-color-hunt-gradient: linear-gradient(90deg, #1B102E 0%, #524960 22.22%, #888392 49.83%, #BFBCC5 77.78%, #F6F5F7 100%);

  /* BRAND GRADIENT */
  --j-color-brand-gradient: linear-gradient(90deg, #6C3EBA 0%, #874EE8 24.95%, #0ED9E4 75.08%, #0DC3CD 100%);
}
