:root{
  /* FONT FAMILY */
  --font-family-primary: "Nunito", Arial, Helvetica, sans-serif;
  --font-family-secondary: 'SFProRounded';

  /* FONT SIZES */
  --font-size-super-tiny: 10px;
  --font-size-tiny: 12px;
  --font-size-mini: 14px;
  --font-size-xxxs: 16px;
  --font-size-xxs: 20px;
  --font-size-xs: 24px;
  --font-size-sm: 32px;
  --font-size-md: 40px;
  --font-size-lg: 48px;
  --font-size-xl: 56px;
  --font-size-xxl: 64px;
  --font-size-xxxl: 72px;
  --font-size-huge: 80px;
  --font-size-giant: 96px;

  /* FONT WEIGHT */
  --font-weight-black: 900;
  --font-weight-extra-bold: 800;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-extra-light: 200;
  --font-weight-thin: 100;
}
