@import url('./_colors.scss');
@import url('./_typography.scss');

body,
h1,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--font-family-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
